---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Bento from "../components/Bento.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
---

<Layout
  title="Welcome my first astro landing page."
  description="This repository is my learning space where I experiment with creating a landing page using Astro, HTML, CSS, and JavaScript. I'm excited to share my progress and learn alongside the community."
>
  <Home />

  <main>
    <Intro />
    <Bento />
  </main>

  <Footer />
</Layout>

<style></style>
