---
interface Props {
  class?: string;
  title: string;
  number: string;
}

const { title, number } = Astro.props;
---

<article
  class={`
  ${Astro.props.class}
  relative rounded-xl
  backdrop-blur-md
  border border-black/10
  shadow-inner shadow-white/10
  overflow-hidden
  group
`}
>
  <div
    class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-violet-950 -z-10"
    style="background-image: url('/haunter.png')"
  >
  </div>

  <div
    class="relative select-none flex flex-col gap-1 p-2 md:p-6 text-lg z-20 justify-end h-full"
  >
    <h2 class="text-3xl font-semibold text-balance text-white uppercase">
      {title}
    </h2>
    <h3
      class="text-2xl font-semibold text-balance text-white uppercase bg-gradient-to-l from-violet-400 to-violet-700 pl-2"
    >
      {number}
    </h3>
  </div>
</article>
